<div class="content">
    <table class="table table-striped table-hover wrapper">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Position Name</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>President</td>
            <th> <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Active</button></th>
            <th><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>Delete</button></th>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>President</td>
            <th> <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Active</button></th>
            <th><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>Delete</button></th>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>President</td>
            <th> <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Active</button></th>
            <th><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>Delete</button></th>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>President</td>
            <th> <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Active</button></th>
            <th><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>Delete</button></th>
          </tr>
        </tbody>
      </table>