<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="btn-group  " role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary btn-lg" routerLink='./new-user'><i class="fas fa-user"></i>New User</button>
        <button type="button" class="btn btn-primary btn-lg" routerLink='./new-position'><i class="fas fa-plus"></i>New Position</button>
        <button type="button" class="btn btn-primary btn-lg" routerLink='./new-candidate'><i class="fa-rotate-90 fas fa-plus"></i>New Candidate</button>

        
    </div>
    <!-- <div class="btn-group float-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary btn-lg" routerLink='./new-user'><i class="fas fa-user"></i>New User</button>
        <button type="button" class="btn btn-primary btn-lg" routerLink='./new-position'><i class="fas fa-plus"></i>New Position</button>
        <button type="button" class="btn btn-primary btn-lg" routerLink='./new-candidate'><i class="fa-rotate-90 fas fa-plus"></i>New Candidate</button>
        
    </div> -->
</div>
<hr style="margin-top:5px;">
<div  >
    <h3 class="text-muted" style="text-align:center;">CLICK ON ONE OF THE OPTIONS ABOVE TO PERFOM AN ACTION...</h3>
    <router-outlet> </router-outlet>
</div>

