<div class="wrapper">
    <form class="form-signin" #f="ngForm"  (ngSubmit)="f.form.valid  && createClass(f.value)" >       
      <h2 class="form-signin-heading">New Class</h2>
      
      <input type="text"  #name="ngModel" [(ngModel)]="newClass.name" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"  
      name="name" class="form-control" placeholder="Class name..." required  />
      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
        <div *ngIf="name.errors.required">Class naame is required</div>
     
    </div>
    <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Create Class</button>   
    </form>
</div>