<div class="wrapper">
    <form class="form-signin" #f="ngForm"  (ngSubmit)="f.form.valid  && login(f.value)">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text"       #username="ngModel" [(ngModel)]="userDetails.username" name="username" class="form-control" placeholder="Username..." 
      [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"  required/>
      <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
        <div *ngIf="username.errors.required">Username is required</div>
     
    </div>
      <input type="password"  #password="ngModel" [(ngModel)]="userDetails.password" name="password" class="form-control" placeholder="Password"
      required [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" /> 
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
     
    </div>     
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Login</button>   
    </form>
  </div>